:root {
    /* ******Colors sections******* */
    --sunyellow-color:#F5C044;
    --green-color: #4CA154;
    --black-color: #18181B;
    --grey-color: #52525A;
    --lightgray-color: #D4D4D8;
    --offwhite-color: #FAFAF9;
    --white-color: #FFFFFF;
    
    /* ********Font Sizes*********** */
    --heading: 2.25rem;
    --body1: 1.25rem;
    --bod2: 1rem;
    --listitems: .875rem;
  }
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato";
  }